/* Poppins - Normal variants */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  }
  
  /* Poppins - Italic variants */
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
  }
  
  /* Lexend Deca */
  @font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lexend/LexendDeca-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/lexend/LexendDeca-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/lexend/LexendDeca-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/lexend/LexendDeca-Bold.ttf') format('truetype');
  }