@tailwind base;
@tailwind components;
@tailwind utilities;



  :root {
    --black: #333740;
  }
  .rich-text {
    @apply text-brand-black
  }
  .rich-text a {
    @apply  underline;
  }

  .rich-text a:hover {
    @apply text-brand-red transition-colors
  }

  .progress-section {
    position: relative;
  }
  
  .progress-section h3 {
    transition: color 0.3s;
  }
  
  .progress-section div.w-6.h-6 {
    transition: background-color 0.3s, border-color 0.3s;
  }